@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

button {
  cursor: pointer;
  color: #86109b;
  border-radius: 1rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

li {
  list-style: none;
  padding: 1rem 2rem;
  border: 1px solid yellow;
  width: 80%;
  margin: 1rem 3rem;
  border-radius: 2rem;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #3498DB;
}
